<div class="bin-area_bins">
  <game-bin-droppable *ngFor="let color of colors | async" [color]="color"></game-bin-droppable>
</div>

<game-bin-clock class="bin-area_bin-clock" [time]="clock | async"></game-bin-clock>