.bomb_item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: lighter;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

:host {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5vw;
  height: 9.5vw;
  max-width: 60px;
  max-height: 60px;
}

/*
:host::before {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  padding-top: 100%;
}
*/

