.screen-start {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-width: 480px;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
}

.screen-start_title-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 50px;
    flex-grow: 1;
    flex-shrink: 1;
}

.screen-start_title {
    font-size: 36px;
    margin: 0;
}

.screen-start_button-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.screen-start_button {
    cursor: pointer;
    font-size: 26px;
    padding: 5px;
    border-radius: 3px;
}

.screen-game {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
}

.screen-game_bombs-area {
    position: absolute;
    top: 0;
    width: 100%;
}

.screen-game_bins-area {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.screen-game_score {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 15px;
}
