<div class="screen-start" *ngIf="phase === 0">
  <div class="screen-start_title-container">
    <h1 class="screen-start_title">Bombs 2 Bins</h1>
  </div>
  <div class="screen-start_button-container">
    <button class="screen-start_button" type="button" (click)="startGame()">Start Game</button>
  </div>
</div>

<div class="screen-game" *ngIf="phase === 1">

  <p class="screen-game_score">Score: {{ points }}</p>
  <game-bombs-area class="screen-game_bombs-area"></game-bombs-area>
  <game-bin-area class="screen-game_bins-area"></game-bin-area>

</div>

<div id="screen-end" *ngIf="phase === 2">
  <h1>Game Over</h1>
  <p>You did {{ points }} points!</p>
  <button class="screen-start_button" type="button" (click)="startGame()">Play again</button>
</div>
