.l1 {
  top: 30px;
}
.l2 {
  top: 80px;
}
.l3 {
  top: 130px;
}
.l4 {
  top: 180px;
}
.c1.l1, .c1.l3 {
  left: 10%
}
.c2.l1, .c2.l3 {
  left: 20%
}
.c3.l1, .c3.l3 {
  left: 30%
}
.c4.l1, .c4.l3 {
  left: 40%
}
.c5.l1, .c5.l3 {
  left: 50%
}
.c6.l1, .c6.l3 {
  left: 60%
}
.c7.l1, .c7.l3 {
  left: 70%
}
.c8.l1, .c8.l3 {
  left: 80%
}
.c9.l1, .c9.l3 {
  left: 90%
}

.c1.l2, .c1.l4 {
  left: 15%
}
.c2.l2, .c2.l4 {
  left: 25%
}
.c3.l2, .c3.l4 {
  left: 35%
}
.c4.l2, .c4.l4 {
  left: 45%
}
.c5.l2, .c5.l4 {
  left: 55%
}
.c6.l2, .c6.l4 {
  left: 65%
}
.c7.l2, .c7.l4 {
  left: 75%
}
.c8.l2, .c8.l4 {
  left: 85%
}
