/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}