:host {
    position: relative;
    width: 12%;
    min-width: 60px;
    max-width: 115px;
}

:host::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.bin_item,
.bin_item.dnd_drop_enter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1);
    opacity: 1;
    border: none;
    transition: all 0.2s;
}

.bin_item.drophover {
    transform: scale(1.3);
    opacity: 0.5;
    border: none;
}
